<h2>Create Recipe</h2>
<div>
    <div class="row">
        <div class="col-lg-1"><h4>Name:</h4></div>
        <div class="col-lg-2"><input type="text" class="form-control" /></div>
    </div>

    <div>
        <h3>Grain Bill</h3>
        <div>Add grain table here with dropdown for grain type, and the amount </div>
    </div>

    <div>
        <h3>Hop Schedule</h3>
        <div>Add hop table here with dropdown for hop type, and text fields for alpha acid, amount, and time added to boil</div>
    </div>

    <div>Yeast</div>
    <div>Add yeast selection dropdown box here</div>
</div>
