@model List<Common.DTOs.RecipeDTO>

    <h2>Recipe Management</h2>
    <div>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Recipe Name
                        </td>
                        <td>
                            Original Gravity
                        </td>
                        <td>
                            ABV
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipe in Model)
                    {
                        <tr>
                            <td>
                                @recipe.RecipeID
                            </td>
                            <td>
                                @recipe.RecipeName
                            </td>
                            <td>
                                @recipe.ExpectedOG.ToString("0.000")
                            </td>
                            <td>
                                @recipe.ExpectedABV
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
