<h1>Create Hop Type</h1>
<div>
    <div class="row">
        <div class="col-lg-2">
            <label>Name:</label>
        </div>
        <div class="col-lg-4">
            <input id="hop-name" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <label>Flavor Notes</label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <textarea id="flavor-notes" class="form-control" style="height:250px">

            </textarea>
        </div>
    </div>

    <div class="row button-box">
        <div class="col-lg-2">
            <input type="button" class="btn btn-success" onclick="saveHop()" value="Save Hop"/>
        </div>
        <div class="col-lg-2">
            <input type="button" class="btn btn-danger" value="Cancel" />
        </div>
    </div>
</div>


<script>

</script>