

@model List<Models.Models.RecipeDTO>
<header>
    <h1>Entry</h1>
</header>

<div id="main-content">
    <div>Hello, World</div>
    <div>Push this button</div>
    <input type="button" value="Push me" onclick="getRecipes()" />
    <div id="recipeBox"></div>
</div>

<script>
    function getRecipes()
    {
        $.ajax({
            url: "/Recipe/GetRecipes",
            type: "POST",
            success: function(response)
            {
                console.log(response);
            },
            error: function () {
                alert("Error");
            }
        })
    }
</script>


    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
    }
