


<header>
    <h1>Entry</h1>
</header>

<div id="main-content">
    <div>Hello, World</div>
</div>


    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }
