

<style>
    .button-box {
        margin-top: 10px;
    }
</style>
<header>
    <h1>Entry</h1>
</header>

<div id="main-content">
    <div>Hello, World</div>
    <div>Push this button</div>
    <input type="button" value="Push me" onclick="getRecipes()" />
    <div id="recipeBox"></div>
</div>

<div id="hop-modal" class="modal fade collapse" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Name:</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="hop-name" class="form-control" />
                    </div>
                </div>

                <div class="row" style="margin-top:5px">
                    <div class="col-lg-3">
                        <label>Flavor Notes</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <textarea id="flavor-notes" class="form-control" style="height:250px"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <input type="button" class="btn btn-success" onclick="saveHop()" value="Save Hop" />

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<script>
    function getRecipes() {
        $.ajax({
            url: "/Recipe/GetRecipes",
            type: "POST",
            success: function (response) {
                console.log(response);
            },
            error: function () {
                alert("Error");
            }
        })
    }
</script>


