

<style>
    .button-box {
        margin-top: 10px;
    }
</style>
<header>
    <h1>Entry</h1>
</header>

<div id="main-content">
    <div>I have no idea what to put here. Maybe default to recipes</div>
</div>

<script>
    function getRecipes() {
        $.ajax({
            url: "/Recipe/GetRecipes",
            type: "POST",
            success: function (response) {
                console.log(response);
            },
            error: function () {
                alert("Error");
            }
        })
    }
</script>


